body {
	background: #f0f2f5 !important;
}

.header {
	background-color: #fff !important;
	border-bottom: 1px solid #999;
	height: 70px !important;
}

.content {
	height: 600px;
	margin: 10px;
}

.footer {
	text-align: center;
	border-top: 1px solid #999;
}